body {
    font-family: "Roboto", serif;
    color: white;
    background-color: #756d91;
}

h1, h2 {
    font-family: "Merriweather", serif;
    color: black;
    background-color: white;
}

li a{
    color: white;
}

footer {
    background-color: black;
}

/* mobile */
@media (max-width: 768px){

}

/*desctop*/
@media (min-width: 768px) {
    
}