body {
    font-family: "Roboto", serif;
    margin: 0;
    padding: 0;
    background-color: white;
    
}

h1 {
    background-color: rgb(217, 172, 113);
    color: black;
    padding: 25px;
    font-size: 2rem;
}

main {
    padding: 10px;
}

form {
    background-color: beige;
    padding: 15px;
}

fieldset {
    border: none;
    flex-direction: column;
}

input, select, textarea {
    margin-bottom: 20px;
    padding: 10px 30px;
    color: black;
}

input[type="radio"] {
    margin-right: 10px;
    transform: scale(1.3);
}

input[type="checkbox"] {
    transform: scale(1.3);
    margin-right: 5px;
}

.feature label {
    margin: 5px;
    display: block;
    cursor: pointer;
}

input[type="submit"] {
    color: black;
    font-weight: bold;
    padding: 10px 50px;
    margin: 0 10px 10px;
    font-size: 1rem;
}

input[type="submit"]:hover {
    background-color: rgba(255, 166, 0, 0.699);
    color: black;
}

p {
    padding: 0;
    margin: 0;
}

footer {
    padding: 5px 5px;
    margin: 0;
    background-color: rgb(217, 172, 113);
}