/*  style */
:root {
    --primary-color:white;
    --second-color:red;
    --font-family: "Pacifico", serif;
    font-size: 1.5rem;
}

body {
    font-family: var(--font-family);
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

header {
    color: black;/*after change to primary color*/
    text-align: center;
    background-attachment: fixed;
}

.hero {
    position: relative;
    text-align: center;
    
}

.hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

h1 {
    color: var(--primary-color);
    position: absolute;
    bottom: 70%;
    font-size: 5rem;
    right: 40%;
}

main {
    margin: 0;
    padding: 0;
}

#data {
    position: absolute;
    bottom: 60px;
    left: 5%;
    font-size: 20px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.29);
    padding: 13px;
    padding-top: 3px;
}

#weather {
    position: absolute;
    top: 40%;
    right: 10%;
    font-size: 20px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.29);
    padding: 13px;
    padding-top: 3px;
}

h2 {
    text-align: center;
}

#weather h2::after{
    display: inline-block;
    margin-left: 60px;
    vertical-align: middle;
}

#weather img {
    
}

footer {
    text-align: center;
    font-size: 18px;
    background-color: rgba(255, 255, 255, 0.763);
    position: absolute;
    bottom: 0;
    width: 100%;

}

footer p {
    margin: 3px;
    margin-bottom: 0;
    padding: 0;
}


@media screen and (max-width: 640px) {
    h1 {
        color: var(--primary-color);
        position: absolute;
        font-size: 1.5rem;
        bottom: 70%;
        right: 45%;
    }

    h2 {
        font-size: 1.3em;
    }

    #data, #weather {
        position: absolute;
        top: 10%;
        font-size: 10px;
        text-align: center;
        background-color: rgba(255, 255, 255, 0.29);
    }

    #weather img {
        width: 40px;
    }

    footer {
        text-align: center;
        font-size: 14px;
        background-color: rgba(255, 255, 255, 0.763);
        position: absolute;
        margin-top: 0px;
        top: 50%;
    }
}